<div class="row row-cols-1 row-cols-md-2 g-4" *ngIf="projects.length>0; else noProjects">
    <div class="col" *ngFor="let project of projects">
        <div class="card" [ngClass]="{'border-info': project.done,'border-warning': !project.done}">
            <div class="card-body"> 
                <h5 class="card-title">
                    <span class="badge bg-secondary rounded-pill">{{project.code}}</span>
                    {{project.name}}
                </h5>
                <p class="card-text">{{project.description}}</p>
                <button href="#" class="btn btn-primary btn-sm">Vai al progetto</button>
            </div>
            <div class="card-footer">
                <small class="text-muted" [ngStyle]="{'font-style': project.done ? 'italic' : 'normal'}" [style.fontSize]='"14px"'>
                    <span>{{project.start | date:'dd/mm/yy' |  uppercase  }}</span>
                    <span *ngIf="project.end"> -  {{project.end | date | date:'dd/mm/yy' | uppercase}}</span>
                </small>
            </div>
        </div>
    </div>
</div> 
<hr>
<form #f="ngForm" (ngSubmit)="submitProjectForm(f)" class="row g-3">
    <div class="col-md-4">
        <label for="name" class="form-label">Nome</label>
        <input type="text" name="name" class="form-control" placeholder="Nome" ngModel>
        <p class = 'text-danger'><small> Il campo e' richiesto</small></p>
    </div>
    <div class="col-md-4">
        <label for="priority" class="form-label">Priority</label>
        <select class="form-select" name="priority" ngModel>
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        </select>
        <p class="text-danger"><small>Il campo e' richiesto</small></p>
    </div>
    <div class="col-md-4">
        <label for="validationDefaultUsername" class="form-label">Date</label>
        <input type="date" name="start" class="form-control" placeholder="Data init" ngModel>
        <p class="text-danger"><small>Il campo e' richiesto</small></p>
    </div>
    <div class="col-md-12">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="description" placeholder="Descrizione" ngModel></textarea>
        <p class="text-danger"><small>Il campo e' richiesto</small></p>
    </div>
    <div class="col-12">
        <button type="submit" class="w-100 btn btn-primary btn-lg">Crea</button>
    </div>
</form>
<br>
<br>
<!-- Se non c'e nessun Elemento nell Array -->
<ng-template #noProjects>
    <h3>Non e' presente nessun progetto</h3>
</ng-template>
